.patient-info {
  padding: 20px;
  font-size: 0.8rem;
}

.patient {
  display: flex;
  align-items: center;
}

.basic-info {
  display: block;
  font-size: 1rem;
}

.more-info {
  /* display: flex; */
}

.patient-image {
  font-size: 3rem;
  margin-right: 10px;
}
.patient-info_name {
  font-size: 1.2rem;
}

.detail {
  font-size: 1rem;
  font-weight: normal;
  margin: 5px 30px 5px 0px;
}

.detail-title {
  margin-right: 10px;
}

.detail-info {
  color: gray;
}

.avatar {
  font-size: 40px;
}
