* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.Menu {
  display: flex;
}

.Calendar {
  width: 100%;
}

.Info {
  width: 480px;
}

.EventInfo {
  margin: 10px;
}

.PatientInfo {
  margin: 10px;
}

.EventButtons {
  margin: 10px;
  display: flex;
  justify-content: space-between;
}
