$current-time-color: orange;

@import "react-big-calendar/lib/sass/styles";
@import "react-big-calendar/lib/addons/dragAndDrop/styles"; // if using DnD
@import "react-big-calendar/lib/sass/toolbar";
@import "react-big-calendar/lib/sass/variables";
@import "react-big-calendar/lib/sass/event";

.rbc-event-label {
  font-size: 1rem;
  font-weight: bold;
}

.rbc-today {
  background-color: white;
}

.date {
  justify-self: start;
  margin-left: 20px;
  cursor: default;
  font-size: 1rem;
}

.rbc-btn-group > button {
  color: black;
  background-color: white;
  padding: 20px;
  border-style: none;
  outline: none;
  border-radius: 0;
  font-size: 1rem;
}

.rbc-btn-group > button:hover {
  color: #18b0b0;
  background-color: white;
  border: none;
}

.rbc-active {
  color: #18b0b0 !important;
  background-color: white !important;
  padding: 20px !important;
  border-style: none !important;
  font-size: large;
  outline: none;
}

.rbc-active:focus {
  color: #18b0b0 !important;
  background-color: white !important;
  padding: 20px !important;
  border-style: none !important;
  font-size: large;
  outline: none;
}

.rbc-toolbar {
  margin-bottom: 0px;
}

.rbc-btn-group > button.rbc-active {
  font-size: 1rem;
  align-content: center;
}

.rbc-toolbar .rbc-toolbar-label {
  margin: 0;
  padding: 0;
  text-align: left;
  float: left;
  font-size: 1rem;
  margin-left: 20px;
}

.rbc-btn-group:first-child > button {
}

.rbc-event {
  opacity: 0.6;
}

.name-input {
  display: block;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 20px;
  outline: none;
  height: 25px;
  width: 400px;
  font-size: medium;
  color: #444444;
}

.name-input-title {
  font-size: medium;
}

.popup {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  margin: 10px;
}

.buttonn {
  margin-top: 20px;
}

.toolbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.label-date-container {
  // margin-left: 20px;
}

.navigate-btn-container {
  // position: fixed;
  // left: 20%;
}

.navigate-btn {
  padding: 6px 12px;
  margin: 6px;
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
  background: lightgrey;
  color: white;
}

.day-week-month-container {
  // margin-left: auto;
}

.day-week-month {
}
