.patient-info {
  border: groove;

  padding: 10px;
  font-size: 0.8rem;
}

.patient {
  display: flex;
  align-items: center;
}

.basic-info {
  display: block;
  font-size: 22px;
}

.more-info {
  display: flex;
}

.patient-image {
  font-size: 1.8rem;
  margin-right: 10px;
}

.detail {
  font-size: 1rem;
  font-weight: normal;
  margin: 5px 30px 5px 0px;
}

.detail-title {
  margin-right: 10px;
}

.detail-info {
  color: lightgray;
}

.avatar {
  font-size: 40px;
}
