.navbar {
  background-color: #18b0b0;
  color: white;
  height: 50px;
  display: flex;
  align-items: center;
}

.navbar-logo {
  justify-self: start;
  margin-left: 20px;
  margin-right: 50px;
  cursor: pointer;
  font-size: 1.4rem;
  color: red;
}

.navbar-logo-link {
  color: white;
  text-decoration: none;
}

.navbar-items {
  display: flex;
  align-items: center;
  margin: 30px;
}

.navbar-item {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  padding: 10px;
}

.navbar-item:hover {
  color: #116979;
  transition: all 0.2s ease-out;
}

.navbar-item-clicked {
  color: #116979;
  text-decoration: none;
  font-size: 1.1rem;
  padding: 10px;
}

.navbar-login-username-container {
  margin-left: auto;
  margin-right: 20px;
}

.navbar-login-container {
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  color: white;
}

.navbar-username-container {
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  margin-left: auto;
  color: white;
}

.nav-user {
  justify-self: start;
  margin-right: 10px;
}
