* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /*   font-family: "Source Sans Pro", sans-serif;
 */
}

.Calendar {
  margin-right: 50%;
  margin-left: 20px;
}

.EventInfo {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 75%;
}
