.edit-container {
  align-items: center;
  margin: auto;
  width: 430px;
  margin-top: 20px;
  box-shadow: 2px 2px 2px 2px lightgray;
  border-radius: 5px;
  padding: 20px;
}

.type-table-cell {
  border-collapse: collapse;
  font-size: 1rem;
  padding: 15px;
  height: 40px;
  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgray;
}
.delete-edit-type :hover {
  color: lightgray;
}

.edit-header {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.types-table {
  border-collapse: collapse;
  table-layout: auto;
  width: 100%;
}

.type-edit-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.create-type-popup-container {
  padding: 10px;
  padding-bottom: 20px;
}

.create-type-popup-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  height: 400px;
}

.create-type-popup-element {
  display: grid;
}

.create-type-label {
  padding-bottom: 10px;
}
.create-type-input {
  /* height: 40px;
  font-size: 1.1rem; */
}

.type-color-container {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.type-color {
  margin-bottom: 20px;
}
